
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div "
				>
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
								class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item">
						<a href="/upload" class="nav-link "><span class="pcoded-micon"><i class="feather icon-upload"></i></span><span
								class="pcoded-mtext">Upload</span></a>
					</li>
					<li class="nav-item">
						<a href="/analyze" class="nav-link "><span class="pcoded-micon"><i class="feather icon-github"></i></span><span
								class="pcoded-mtext">Analysis</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>AI</label>
					</li>
					<li class="nav-item">
						<a href="/dashboard" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">AI Analysis</span></a>
					</li>
					
					<li class="nav-item pcoded-menu-caption">
						<label>Assest</label>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Drone</span></a>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Rover</span></a>
					</li>
					
					<li class="nav-item"><a href="/sample-page.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>
				</ul>
				
				
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    